<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:mysql://edward2.solent.ac.uk/phpMyAdmin/mkirby
        </property>
        <property name="connection.driver_class">
        </property>
        <property name="connection.username">
            mkirby
        </property>
        <property name="connection.password">
            zoupatuc
        </property>
        <mapping class="com.booking.domain.Comedian" />
        <mapping class="com.booking.domain.Customer" />
        <mapping class="com.booking.domain.Event" />
        <mapping class="com.booking.domain.Booking" />
        <mapping class="com.booking.domain.Feedback" />
    </session-factory>
</hibernate-configuration>
